<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Domoticae</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/css.css" media="screen" />
    <link rel='stylesheet' type='text/css' href='/static/main.css'>
    <script>
      function cambiaDiv() {
        console.log("Entrando");
        if (document.getElementById("atras").className == "oculto") {
          console.log("Atras: " + document.getElementById("atras").className + " mostrando atras");
          document.getElementById("atras").className = "visible";
          document.getElementById("servicio").className = "visible";          
        } else {
          console.log("Atras: " + document.getElementById("atras").className + " ocultando atras");
          document.getElementById("atras").className = "oculto";
          document.getElementById("servicio").className = "oculto";
        }

        if (document.getElementById("delante").className == "visible") {
          cambiaIFrame("",'iframe_a');
          console.log("Delante: " + document.getElementById("delante").className + " Ocultando delante");
          document.getElementById("delante").className = "oculto";
          document.getElementById("nav").className = "oculto";
        } else {
          cambiaIFrame("root",'iframe_a');
          console.log("Delante: " + document.getElementById("delante").className + " mostrando delante");
          document.getElementById("delante").className = "visible";
          document.getElementById("nav").className = "visible";          
        }        
      }

      function inicializa(){
        var xh = new XMLHttpRequest();
        xh.onreadystatechange = function(){
          if (xh.readyState == 4){
            if(xh.status == 200) {
              console.log("JSON: " + JSON)
              var res = JSON.parse(xh.responseText);
              //nombre familia
              if (typeof res.nombreFamilia !== 'undefined'){
                console.log("Nombre familia: "+res.nombreFamilia);
                //cambiaNombreFamilia(res.nombreFamilia);
                cambia("nombreFamilia",res.nombreFamilia);
              }
              //nombre dispositivo
              if (typeof res.nombreDispositivo !== 'undefined'){
                console.log("Nombre dispositivo: "+res.nombreDispositivo);
                cambiaNombreDispositivo(res.nombreDispositivo);
                //cambia("nombreDispositivo",res.nombreDispositivo);
              }
              //version
              if (typeof res.version !== 'undefined'){
                console.log("Version: "+res.version);
                cambia("version",res.version);
              }              
            }
          }
        };
        xh.open("GET", "http://{{ IPDISPOSITIVO }}/nombre", true);
        xh.send(null);        
        
        //cargo el iframe con al info inicial
        cambiaIFrame("root",'iframe_a');
        cambiaIFrame("ficheros",'iframe_b');

        //Ajusto la altura del iframe        
        var margen = window.getComputedStyle(document.body,null).getPropertyValue("margin-top");
        margen = margen.substr(0,margen.length-2);//le quito el px del final
        var alto = window.innerHeight - 
          (margen*2) - 
          document.getElementById("header").offsetHeight - 
          document.getElementById("nav").offsetHeight - 
          document.getElementById("footer").offsetHeight;

        document.getElementById("article").style.height=alto+"px";     
      }
      
      function cambia(elemento,valor){
        document.getElementById(elemento).innerHTML=valor;
      }

      /*function cambiaNombreFamilia(nombre){
        document.getElementById("nombre_1").innerHTML=nombre.substr(0,nombre.length-3);
        document.getElementById("nombre_2").innerHTML=nombre.substr(nombre.length-3,1);
        document.getElementById("nombre_3").innerHTML=nombre.substr(nombre.length-2);
      }*/

      function cambiaNombreDispositivo(nombre){
        document.getElementById("nombre_1").innerHTML=nombre.substr(0,nombre.length-3);
        document.getElementById("nombre_2").innerHTML=nombre.substr(nombre.length-3,1);
        document.getElementById("nombre_3").innerHTML=nombre.substr(nombre.length-2);
      }

      function cambiaIFrame(pagina,destino){
        var c=document.getElementById(destino);
        c.setAttribute("src",pagina);
      }
    </script>
  </head>
  <body onload="inicializa();">
    <header style="overflow: auto;" id="header">
      <div class="izquierda" id="nombreDispositivo">
        <span id="nombre_1"></span><span id="nombre_2" style="color:red"></span><span id="nombre_3"></span>
      </div>
      <div class="derecha" style="font-size: 20px;">
        <span>DOMOTI</span><span style="color:red">C</span><span>AE</span><span style="font-size: 35px;"></span>
      </div>
    </header>

    <section>
      <div class="izquierda">
        <nav id="nav"  class="visible">
          <ul>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('root','iframe_a')">Inicio</li>
            <!--<li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('sensores','iframe_a')">Sensores</li>-->
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('variables','iframe_a')">Variables</li>            
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('entradas','iframe_a')">Entradas</li>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('salidas','iframe_a')">Salidas</li>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('secuenciador','iframe_a')">Secuenciador</li>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('maquinaEstados','iframe_a')">Maq. estados</li>
          </ul>
        </nav>
      </div>
      <div class="izquierda">
        <nav id="servicio"  class="oculto">
          <ul>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('ficheros','iframe_b')">Ficheros</li>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('info','iframe_b')">Info</li>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('particiones','iframe_b')">Particiones</li>
            <li onMouseOver="this.style.cursor='pointer'" onClick="cambiaIFrame('restart','iframe_b')">Reiniciar</li>            
          </ul>
        </nav>
      </div>
      <div class="derecha">
        <nav>
          <ul>
            <li style="color:#888;" onMouseOver="this.style.cursor='pointer'" onClick="cambiaDiv()">Cambiar</li>
          </ul>
        </nav>
      </div>      
      <article id="article">
        <div id="atras" class="oculto">          
          <iframe id="iframe_b" name="iframe_b" style="height:100%;width:100%;border:none;"></iframe>
        </div>
        <div id="delante" class="visible">
          <iframe id="iframe_a" name="iframe_a" style="height:100%;width:100%;border:none;"></iframe>
        </div>
      </article>
    </section>
    <footer id="footer">
      <div class="izquierda" id="nombreFamilia"></div>
      <div class="izquierda" id="separador">&nbsp;-&nbsp;</div>
      <div class="izquierda" id="version"></div>
      <div class="derecha"><a href="https://domoticae.lopeztola.com" target="_self" style="text-decoration:none; color:white;">domoticae-2022</a></div>
    </footer>
  </body>
</html>
