<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <TITLE>Domoticae</TITLE>    
    <link rel="stylesheet" type="text/css" href="/static/css.css">
    <script type="text/javascript" src="/static/paho-mqtt-min.js"></script>
    <script type="text/javascript" src="/static/MQTT.js"></script>
    <script type="text/javascript" src="root.js"></script>
  </head>

  <BODY onload="inicializa()">
   <div id="div_variables" class="margen oculto">
    <TABLE id="tabla_variables" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
        <CAPTION>Variables</CAPTION>
        <tbody id="body_tabla_variables">
            <TR>
                <th width='10%'>id</th>
                <th width='40%'>Nombre</th>
                <th width='30%'>Valor</th>
                <th width='20%'>Unidades</th>
            </TR>
            <!--Una fila por cada habitacion--> 
        </tbody>     
    </TABLE>
    <BR>
   </div>

   <div id="div_entradas" class="margen oculto">
    <TABLE id="tabla_entradas" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
        <CAPTION>Entradas</CAPTION>
        <tbody id="body_tabla_entradas">
            <TR>
                <th width='5%'>id</th>
                <th width='50%'>Nombre</th>
                <th width='45%'>Estado</th>
            </TR>
            <!--Una fila por cada habitacion--> 
        </tbody>     
    </TABLE>
    <BR>
   </div>

   <div id="div_salidas" class="margen oculto">
    <TABLE id="tabla_salidas" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
        <CAPTION>Salidas</CAPTION>
        <tbody id="body_tabla_salidas">
            <TR>
                <th width='5%'>id</th>
                <th width='15%'>Nombre</th>
                <th width='15%'>Estado</th>
                <th width='15%'>Modo</th>
                <th width='40%'>Acción</th>
            </TR>
            <!--Una fila por cada habitacion--> 
        </tbody>     
    </TABLE>
    <BR>
   </div>

   <div id="div_secuenciador" class="margen oculto">
    <TABLE id="tabla_secuenciador" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
        <CAPTION id="secuenciadorCaption">Secuenciadores</CAPTION>
        <tbody id="body_tabla_secuenciador">
            <TR>
                <th width='5%'>id</th>
                <th width='45%'>Nombre</th>
                <th width='25%'>Salida</th>
                <th width='25%'>Estado</th>
            </TR>
            <!--Una fila por cada plan--> 
        </tbody>    
    </TABLE>
    <BR>
   </div>

   <div id="div_maquinaEstados" class="margen oculto">
    <TABLE id="tabla_maquinaEstados" border="0" width="80%" cellpadding="0" cellspacing="0" width="300" class="tabla">
        <CAPTION>Máquina de estados</CAPTION>
        <TR>
            <TH width="100">Estado: </TH>
            <TD id="estadoME" width="200" class="modo2">Medio</TD>
        </TR>
    </TABLE>
   </div>

    <div id="atras" class="oculto">
        <iframe id="iframe_result" name="iframe_result" style="height:80%;width:10%;border:none;"></iframe>
    </div>   
  </BODY>
</HTML>