<!DOCTYPE html>
<html lang="es">
	<head>		
        <meta charset="UTF-8">
		<TITLE>Domoticae</TITLE>
		<link rel="stylesheet" type="text/css" href="/static/css.css">
		<script type="text/javascript" src="secuenciador.js"></script>
	</HEAD>
	<BODY id="body" onload="inicializa();">
        <TABLE border="0" width="50%" cellpadding="0" cellspacing="0" width="300" class="tabla">
            <CAPTION>Secuenciador</CAPTION>
            <TR>
                <TH width="100">Numero de planes: </TH>
                <TD id="numeroPlanes" width="200" class="modo2"></TD>
            </TR>            
        </TABLE>
        <br>
		<!-- tantas tablas como planes -->
		<table id="tabla_plan_0" width="90%" border="0" cellpadding="0" cellspacing="0" class="tabla">
    	    <caption id="caption_0">Plan primero</caption>
			<tbody id="body_tabla_plan_0">
				<tr id="cabecera_0">
					<!-- tantas columnas como horas -->
					<th width="200px">Hora</th>
					<th style="width:40px">0</th>
					<th style="width:40px">1</th>
					<th style="width:40px">2</th>
					<th style="width:40px">3</th>
					<th style="width:40px">4</th>
					<th style="width:40px">5</th>
					<th style="width:40px">6</th>
					<th style="width:40px">7</th>
					<th style="width:40px">8</th>
					<th style="width:40px">9</th>
					<th style="width:40px">10</th>
					<th style="width:40px">11</th>
					<th style="width:40px">12</th>
					<th style="width:40px">13</th>
					<th style="width:40px">14</th>
					<th style="width:40px">15</th>
					<th style="width:40px">16</th>
					<th style="width:40px">17</th>
					<th style="width:40px">18</th>
					<th style="width:40px">19</th>
					<th style="width:40px">20</th>
					<th style="width:40px">21</th>
					<th style="width:40px">22</th>
					<th style="width:40px">23</th>
				</tr>
				<!-- tantas filas como intervalos -->
                <!-- tantas columnas como horas -->
                <!-- Las creo en el javascript -->
			</tbody>
		</table>
	</body>
</html>
